## Functions.
export(all.factors)
export(all.covars)
export(all.predictors)
export(box.fig)
export(ci.width)
export(df.resid)
S3method(df.resid, lm)
S3method(df.resid, lme)
S3method(df.resid, lmer)
export(effect.fit)
S3method(effect.fit, listof)
export(effect.plot)
export(circle)
export(ellipse)
export(norm.ellipse)
export(panel.ellipse)
export(factor.labels)
export(int.plot)
export(ci.plot)
export(lsd.plot)
S3method(int.plot, lm)
S3method(int.plot, lme)
S3method(int.plot, lmer)
S3method(ci.plot, lm)
S3method(ci.plot, lme)
S3method(ci.plot, lmer)
export(lsmean)
S3method(lsmean, lm)
S3method(lsmean, lme)
S3method(lsmean, lmer)
S3method(lsmean, listof)
export(margin.plot)
S3method(margin.plot, lm)
export(nested)
S3method(nested, aovprojlist)
export(nested.tree)
export(pdiff)
export(pletter)
export(precision)
export(pvalue.ellipse)
export(sample.size)
S3method(sample.size, lm)
export(se.bar)
export(lsd.bar)
S3method(lsd.bar, lm)
S3method(lsd.bar, lme)
S3method(lsd.bar, lmer)
export(splitplot)
export(std.dev)
export(trans.plot)
export(tukey.plot)
export(mandel.plot)
export(uncollide)
export(unfactor)
