## Functions.
export(all.factors)
export(all.covars)
export(all.predictors)
export(box.fig)
export(ci.width)
export(df.resid)
S3method(lm, df.resid)
S3method(lme, df.resid)
S3method(lmer, df.resid)
export(effect.fit)
S3method(listof, effect.fit)
export(effect.plot)
export(circle)
export(ellipse)
export(norm.ellipse)
export(panel.ellipse)
export(factor.labels)
export(int.plot)
export(ci.plot)
export(lsd.plot)
S3method(lm, lsd.plot)
S3method(lm, int.plot)
S3method(lme, int.plot)
S3method(lmer, int.plot)
S3method(lm, ci.plot)
S3method(lme, ci.plot)
S3method(lmer, ci.plot)
export(lsd.plot)
export(ci.plot)
export(int.plot)
export(lsmean)
S3method(lm, lsmean)
S3method(lme, lsmean)
S3method(lmer, lsmean)
S3method(listof, lsmean)
export(margin.plot)
S3method(lm, margin.plot)
export(nested)
S3method(aovprojlist, nested)
export(nested.tree)
export(pdiff)
export(pletter)
export(precision)
export(pvalue.ellipse)
export(sample.size)
S3method(lm, sample.size)
export(se.bar)
export(lsd.bar)
S3method(lm, lsd.bar)
S3method(lme, lsd.bar)
S3method(lmer, lsd.bar)
export(splitplot)
export(std.dev)
export(trans.plot)
export(tukey.plot)
export(mandel.plot)
export(uncollide)
export(unfactor)
